@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.title {
  text-align: center;
}

.ethpayment {
  background-color: #f9f9f9;
  width: 600px;
  height: 250px;
  padding: 20px;
  display: block;
  border: 1px solid #e8e8e8;
  font-family: 'Roboto Slab', serif;
  margin: auto;
  border-radius: 8px;
}

.info {
  background-color: #f9f9f9;
  width: 600px;
  height: 180px;
  padding: 20px;
  display: block;
  border: 1px solid #e8e8e8;
  font-family: 'Roboto Slab', serif;
  margin: auto;
  border-radius: 8px;
}

.notes {
    background-color: #f9f9f9;
    width: 600px;
    height: 320px;
    padding: 20px;
    display: block;
    border: 1px solid #e8e8e8;
    font-family: 'Roboto Slab', serif;
    margin: auto;
    border-radius: 8px;
  }


.ethpayment IMG {
  width: 250px;
  height: 250px;
  float: left;
  border-radius: 8px;
}

.ethamount {
  float: left;
  width: 160px;
  text-align: left;
  font-size: 24pt;
  font-weight: bold;
  display: block;
  margin-top: 20px;
  margin-left: 10px;
}

.ethamount B {
  font-size: 10pt;
  color: green;
}

.ethusdamount {
  float: right;
  width: 170px;
  text-align: right;
  font-size: 24pt;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

.ethusdamount B {
  font-size: 10pt;
  color: green;
}

.ethitem {
  float: left;
  width: 330px;
  font-size: 20pt;
  font-weight: bold;
  display: block;
  margin-left: 10px;
}

.ethdescription {
  float: left;
  width: 330px;
  font-size: 12pt;
  display: block;
  margin-left: 10px;
}

.ethaddress {
  float: left;
  width: 320px;
  height: 26px;
  text-align: center;
  font-size: 8pt;
  font-weight: bold;
  display: block;
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid #dadada;
}

.ethpaymentdesc {
  float: left;
  width: 300px;
  font-size: 10pt;
  text-align: center;
  display: block;
  margin-left: 30px;
  color: #bababa;
}

.ethpaymentstatus {
  padding: 10px;
  margin-left: 140px;
  margin-top: 20px;
  float: left;
  color: white;
}

.hidden {
  display: none;
}

.warning {
  font-size: 50px;
  margin: 10px 0px;
  text-align: center;
}